information.md

# Created by https://www.gitignore.io/api/sass,scss
# Edit at https://www.gitignore.io/?templates=sass,scss

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

#!! ERROR: scss is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/sass,scss
